* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu .logo {
    display: block;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 2rem;
    width: 75%;
    max-width: 75%;
    height: auto;
    text-align: center;
    /* position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 5%;
    text-align: center;
    top: 2%;
    width: 75%;
    max-width: 75%;
    height: auto; */
}

.botao-1 {
    float: left;
    width: 150px;
	height: 160px;
	background: rgba(255, 255, 255, 0.2);
	color: rgb(163, 29, 66);
	font-size: 18px;
	text-align: center;
    margin-right: 40px;
    border: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    text-shadow : 0 0 0 rgb(163, 29, 66);
    border-top: solid 8px rgb(163, 29, 66);
    border-radius: 8px;
    transition: .2s ease;
}

.botao-2 {
    float: right;
    width: 150px;
	height: 160px;
	background: rgba(255, 255, 255, 0.2);
	color: rgb(222, 167, 38);
	font-size: 18px;
	text-align: center;
    border: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    text-shadow : 0 0 0 rgb(222, 167, 38);
    border-top: solid 8px rgb(222, 167, 38);
    border-radius: 8px;
    transition: .2s ease;
}

.botao-3 {
    float: left;
    width: 150px;
	height: 160px;
	background: rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0);
	font-size: 18px;
	text-align: center;
    margin-right: 40px;
    border: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    border-top: solid 8px rgb(241, 96, 41);
    border-radius: 8px;
    transition: .2s ease;
}

.botao-4 {
    float: right;
    width: 150px;
	height: 160px;
	background: rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0);
	font-size: 18px;
	text-align: center;
    border: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    border-top: solid 8px rgb(44, 95, 46);
    border-radius: 8px;
    transition: .2s ease;
}

.botao-5 {
    float: left;
    width: 150px;
	height: 160px;
	background: rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0);
	font-size: 18px;
	text-align: center;
    margin-right: 40px;
    border: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    border-top: solid 8px rgb(17, 73, 110);
    border-radius: 8px;
    transition: .2s ease;
}

.botao-6 {
    float: right;
    width: 150px;
	height: 160px;
	background: rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0);
	font-size: 18px;
	text-align: center;
    border: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    border-top: solid 8px rgb(8, 104, 162);
    border-radius: 8px;
    transition: .2s ease;
}

.botao-1:hover, .botao-2:hover, .botao-3:hover, .botao-4:hover, .botao-5:hover, .botao-6:hover {
    background: rgba(200, 200, 200, 0.2);
}

.btn-img {
    width: 65px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-img-2 {
    width: 65px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.linha{
    margin-bottom: 2rem;
}

.temp-text-1{
    color: rgb(241, 96, 41);
    text-shadow : 0 0 0 rgb(241, 96, 41);
}

.temp-text-2{
    color: rgb(44, 95, 46);
    text-shadow : 0 0 0 rgb(44, 95, 46);
}

.temp-text-3{
    color: rgb(17, 73, 110);
    text-shadow : 0 0 0 rgb(17, 73, 110);
}

.temp-text-4{
    color: rgb(8, 104, 162);
    text-shadow : 0 0 0 rgb(8, 104, 162);
}


@media screen and (max-width: 340px),
       screen and (max-height: 700px){
    .linha{
        margin-bottom: 0px;
    }

    .btn-img-2 {
        width: 65px;
        height: 70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4%;
    }

	.botao-1{
		width: 100%;
        margin-bottom: 4%;
        margin-right: 0px;
	}
	
	.botao-2{
		width: 100%;
        margin-bottom: 4%;
	}
	
	.botao-3{
        margin-bottom: 4%;
        margin-right: 0px;
        width: 100%;
        /* margin-right: 285px; */
	}

    .botao-4{
		width: 100%;
        margin-bottom: 4%;
	}

    .botao-5{
		width: 100%;
        margin-bottom: 4%;
        margin-right: 0px;
	}

    .botao-6{
		width: 100%;
	}

    /* .menu {
        height: fit-content;
    } */
}