* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.titulo-pagina {
    display: flex;
    justify-content: center;
}

.titulo-pagina img {
    position: absolute;
    left: 10%;
}

h1 {
    color: #555;
    font-size: 1.25rem;
    font-weight: 700;
}

.container-perfil {
    display: flex;
    flex-direction: column;
    margin-top: 2.125rem;
    margin-left: 1.875rem;
    gap: 1.625rem;
}

.container-perfil .card {
    display: flex;
    gap: 1.25rem;
}

.container-perfil .card p {
    font-size: 16px;
    color: #555;
    font-weight: 400;
}

.container-perfil .card h2 {
    font-size: 18px;
    color: #11496E;
}



.btn button {
    width: 8.1875rem;
    height: 3.125rem;
    border-radius: 0px 10px 0px 10px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-top: 4rem;
}

.btn button a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.btn .btn-remover {
    margin-left: 2.6875rem;
    background: #B7410E;
}

.btn .btn-editar, .btn-edicao {
    background: #11496E;
}

.btn-edicao {
    width: 19.375rem;
    height: 3.125rem;
    border-radius: 0px 10px 0px 10px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-top: 4rem;
}

.btn-edicao a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}


/* editar meu perfil */

input[type='text'], input[type='password'], input[type='tel'], input[type='email'] {
    margin-top: 1.25rem;
}

input {
    border: none;
    background: #8e8e931e;
    border-radius: 8px;
    padding: 20px;
    width: 16rem;
    height: 3.62rem;
}

input::placeholder {
    color: #065B76;
    font-weight: 600;
    line-height: 1.37rem;
}

input:focus {
    outline-color: #065B76;
}

/* MODAL */

#container-modal-perfil {
    width: 16rem;
    text-align: center;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    top: 30%;
    left: 18%;

    display: none;
}

#container-modal-perfil.active {
    display: block;
}

.overlay-active {
    position: absolute;
    backdrop-filter: blur(4px);
    width: 100%;
    min-height: 100vh;
}

#btn-modal-perfil {
    width: 8.37rem;
    height: 2.125rem;
    border-radius: 0px 10px 0px 10px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #11496E;
    margin-top: 2rem;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}