* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.titulo-pagina {
    display: flex;
    justify-content: center;
}

.titulo-pagina img {
    position: absolute;
    left: 10%;
}

h1 {
    color: #555;
    font-size: 1.25rem;
    font-weight: 700;
}

.container-perfil {
    display: flex;
    flex-direction: column;
    margin-top: 2.125rem;
    margin-left: 1.875rem;
    gap: 1.625rem;
}

.container-perfil .card {
    display: flex;
    gap: 1.25rem;
}

.container-perfil .card p {
    font-size: 16px;
    color: #555;
    font-weight: 400;
}

.container-perfil .card h2 {
    font-size: 18px;
    color: #11496E;
}



.btn button {
    width: 8.1875rem;
    height: 3.125rem;
    border-radius: 0px 10px 0px 10px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-top: 4rem;
}

.btn button a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.btn .btn-remover {
    margin-left: 2.6875rem;
    background: #B7410E;
}

.btn .btn-editar {
    background: #11496E;
}