* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.titulo-pagina {
    display: flex;
}

.titulo-pagina img {
    position: absolute;
    left: 10%;
}

h1 {
    color: #555;
    font-size: 1.25rem;
    font-weight: 700;
    z-index: 10;
}

.pesquisa-risco {
    width: 21.68rem;
	height: 2rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.625rem;
    z-index: 10;
}

.barra-pesquisa {
    background: #ffffff;
    border-radius: 12px;
    padding: 8px;
    border-color: #CD8D00;
    border-style: solid;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.pesquisa-icone {
    margin-top: 6px;
    margin-left: 16px;
    position: absolute;
    width: 18px;
    height: 22px;
}

.apagar-icone {
    margin-top: 8px;
    margin-left: 315px;
    position: absolute;
    width: 18px;
    height: 18px;
}

.barra-pesquisa:focus, .pesquisa-contato:focus{
    outline: none;
}

::placeholder {
    color: #555555;
    opacity: 1;
    text-align: center;
    text-shadow : 0 0 0 rgb(85, 85, 85);
}

a {
    text-decoration: none;
    color: black;
}


.link-menu {
    z-index:10;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.quadro-mapa {
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: inherit;
    object-fit: cover;
}

.mapa {
    min-height:120%;
    min-width:100%;
    height:auto;
    width:auto;
    position:absolute;
    top:-120%; bottom:-100%;
    left:-100%; right:-100%;
    margin:auto;
}
#featurecardPanel {
    visibility: hidden;
}
.HzV7m-b7CEbf.neVct-IlgHgd .jQhVs-hAclf {
    visibility: hidden;
}

.dzWwaf-qqvbed {
    visibility: hidden;
}